@model IEnumerable<Nutritionist.Models.User>

@{
    ViewData["Title"] = "Korisnici";
}

<h1 class="mb-4">Korisnici</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Kreiraj korisnika</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Korisničko ime</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Spol</th>
            <th>Rođendan</th>
            <th>Pretplata</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.FirstName</td>
                <td>@u.LastName</td>
                <td>@u.UserName</td>
                <td>@u.Email</td>
                <td>@u.PhoneNumber</td>
                <td>@u.Gender</td>
                <td>@(u.Birthday?.ToString("dd-MM-yyyy") ?? "-")</td>
                <td>@(u.IsSubscribedToNewsletter ? "Da" : "Ne")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@u.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@u.Id">Uredi</a>   |
                    <a asp-action="Delete" asp-route-id="@u.Id">Izbriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>