@model IEnumerable<Nutritionist.Models.Recipe>

@{
    ViewData["Title"] = "Recepti";
}

<h1 class="mb-4">Recepti</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj recept</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Naslov</th>
            <th>Opis</th>
            <th>Datum kreiranja</th>
            <th>Tip</th>
            <th>Vrijeme pripreme</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.CreatedAt.ToString("dd-MM-yyyy")</td>
                <td>@item.Type</td>
                <td>@item.TimeToMake</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a>   |
                    <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>